td {
  padding: 0px 6px 6px 6px;
  text-align: right;
}

table {
  border: 1px solid;
}

fieldset {
  width: 450px;
}

fieldset article {
  display: flex;
  padding-bottom: 6px;
}

fieldset article label {
  flex: auto;
  max-width: 275px;
  min-width: 275px;
  text-align: right;
  padding-right: 6px;
}
